
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    margin:0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.h4 {
    margin: 20;
}

nav {
    background-color: #ffffff;
    color: #fff;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

/* Formulir Pendaftaran Siswa */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form h3 {
    margin: 0 0 20px;
    font-size: 24px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="radio"] {
    margin-right: 10px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Tabel List Siswa */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    border: 2px solid #333;
}

table th, table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #333;
    color: #fff;
    font-size: 20px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
